* {
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
  font-style: none;
}

header {
  display: flex;
  max-width: 1110px;
  padding-top: 35px;
}

header a {
  color: #911c1c;
}

.logo {
  width: 220px;
  margin: 0 127px 0 60px;
}

header i {
  color: white;
  -webkit-text-stroke: 3px #911c1c;
  font-size: 32px;
  margin: 0 3px;
}

#return-main {
  display: none;
  background: #db8876;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  position: fixed;
  left: 669px;
  top: 10px;
  height: 30px;
  width: 182px;
  text-align: center;
}

#return-main p {
  margin-top: 4px;
}

#header-navbar {
  display: flex;
  align-items: center;
}

#header-navbar a {
  margin: 6px 3px 0 3px;
  font-size: 12px;
}

header span,
#photographers a span,
.photographerPage-tag a span {
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  padding: 1px 6px;
  color: #911c1c;
  font-weight: bolder;
  margin-right: 5px;
}

.tag:hover,
.tag:focus,
.active-tag {
  color: #fff;
  background-color: #901c1c;
  border: 1px solid transparent;
}

.tag:hover a,
.tag:focus a,
.active-tag a {
  color: #fff;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  position: absolute;
  right: 100px;
  top: 48px;
  margin: 0;
  font-size: 36px;
  color: #901c1c;
}

#photographers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;
}

.photographer {
  text-align: center;
  width: 310px;
  height: 345px;
  margin: 148px 90px 10px 90px;
}

#photographers img,
#presentation-photographer img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

#presentation-photographer img {
  margin: 60px 30px 0 0;
}

.photographer h2 {
  font-size: 36px;
  color: #d3573c;
  font-weight: normal;
}

.photographer h3 {
  font-size: 15px;
  color: #901c1c;
  margin: 5px;
}

.photographer p {
  font-size: 12px;
  margin: 0;
}

.photographer span {
  font-size: 11px;
  color: #757575;
}

.photographer_tag {
  padding: 0 0 120px 0;
}

/* photographer page */

#photographer-page {
  justify-content: flex-start;
  display: flex;
  margin: 0 60px;
}

#presentation-photographer {
  display: flex;
  background-color: #fafafa;
  margin: 35px 0 10px 0;
  padding: 0 35px 50px 35px;
  width: 100%;
  justify-content: space-between;
}

#presentation-photographer h2 {
  color: #901c1c;
}

#presentation-photographer p {
  color: black;
}

.photographer-name {
  font-size: 40px;
  font-weight: normal;
  color: #d3573c;
  margin: 45px 0 0 0;
}

.photographerPage-tag a {
  margin-right: 5px;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 0;
  background-color: #901c1c;
  height: 55px;
  width: 130px;
  color: white;
  border: transparent;
  border-radius: 5px;
  margin: 50px 400px 50px 50px;
  cursor: pointer;
}

/* dropdown */

.sorting {
  display: flex;
}

.sorting label {
  font-weight: bold;
  margin-right: 30px;
}

#select-option * {
  cursor: pointer;
}

#btn-sort,
#btn-sort__selected {
  background-color: #901c1c;
  color: white;
  font-size: 20px;

  border: none;
  border-radius: 5px;
  font-weight: normal;
  /* height: 16px;*/
  width: 168px;
  padding: 0 10px;
}

#btn-sort {
  display: flex;
  padding: 1rem;
  height: 55px;
}

#btn-sort__selected {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 15px;
  height: 47px;
}

#btn-sort__arrow {
  display: flex;
}

.fa-chevron-down {
  display: none;
  position: absolute;
  z-index: 2;
  left: 319px;
}

.listOption {
  list-style: none;
  position: absolute;
  top: 451px;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  width: 166px;
  margin: 0;
  padding: 1px;
}

.listOption li {
  font-size: 20px;
  height: 25px;
  display: flex;
  margin: 0 10px 10px 19px;
  padding: 11px 0 0 0;
  align-items: center;
}

#date {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-bottom: 14px;
  margin: 0 10px 0 19px;
}

/* gallery */

.image-photographerBox {
  width: 300px;
  height: 300px;
  margin: 50px 0 0 0;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.box-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 50px;
  padding: 0;
}

.box-list-presentation {
  color: #901c1c;
  flex-direction: column;
  margin: 10px 70px;
  font-size: 15px;
  width: 300px;
}

.box-list-presentation__titleDate,
.box-list-presentation__priceLike {
  display: flex;
  justify-content: space-between;
}

.box-list-presentation p {
  margin: 0 0 5px 0;
}

.date {
  width: 88px;
}

#media-video,
#media-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#video {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin: 50px 0 0 0;
  border-radius: 5px;
}

.presentation-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  height: 55px;
}

.presentation-photo p {
  font-size: 17px;
  margin: 0;
}

.presentation-photo span {
  font-size: 17px;
}

.presentation-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  height: 55px;
}

.child-presentation {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.child-presentation p {
  font-size: 17px;
  margin: 0;
}

.presentation-video span {
  font-size: 17px;
}

.likes-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  width: 285px;
  color: black;
  background-color: #db8876;
  position: fixed;
  right: 40px;
  bottom: 0;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

/*.ilike {
  cursor: pointer;
}*/

/* Modal Contact */

#bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.sectionFormOpen {
  display: block;
}

.sectionFormClose {
  display: none;
}

.formData {
  margin-bottom: 10px;
  margin: 0 20px;
}

label {
  color: black;
  font-size: 22px;
}

.text-control {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.text-control--modified {
  width: 100%;
  height: 100px;
  border: none;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 42px;
  height: 42px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit {
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  color: white;
  width: 115px;
  height: 45px;
  margin: 20px;
}

#header-form {
  margin: auto;
}

#modal-name {
  display: block;
  color: black;
  font-size: 45px;
  margin: 0 100px 22px 18px;
}

#modal-message {
  height: 90px;
  color: black;
  font-size: 20px;
  margin: 90px;
}

.error {
  font-size: 1rem;
  color: #c31212;
  display: block;
}

/* Modal Carousel */

#carousel {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#carousel__div {
  display: flex;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: white;
  overflow: hidden;
  min-height: 100vh;
}

#carousel img,
#carousel video {
  width: 500px;
  height: 547px;
  object-fit: cover;
}

.carousel__div--container {
  display: flex;
  flex-direction: column;
  height: 677px;
  width: 635px;
  margin: auto;
}

.carousel__gallery--container {
  height: 100%;
}

.carousel__viewport--image,
.carousel__viewport--video {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.titleCarousel {
  color: #901c1c;
  margin: 15px 0 0 72px;
}

.media {
  display: flex;
  justify-content: center;
  width: 502px;
  height: 540px;
  margin: auto auto 10px auto;
}

#carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
}

.btn-arrow {
  position: absolute;
  top: 14px;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  touch-action: manipulation;
}

a .arrow {
  border: solid #901c1c;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
  position: relative;
  right: 410px;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  margin: auto -2em auto 0;
  position: relative;
  left: 410px;
}

#left-btn .arrow {
  transform: rotate(135deg);
}

.closeCarousel {
  position: absolute;
  right: 410px;
  top: 65px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
}

.closeCarousel:before,
.closeCarousel:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #901c1c;
}

.closeCarousel:before {
  transform: rotate(45deg);
}

.closeCarousel:after {
  transform: rotate(-45deg);
}

.title-media {
  color: #901c1c;
  font-size: 24px;
  margin: 10px 74px;
}
